python_dotenv
stackprinter
aiosqlite
sqlalchemy
sqlalchemy_utils
asyncpg
psycopg2-binary
alembic
bcrypt
pydantic[email]
fastapi_jwt_auth
fastapi_pagination
httpx
pytest
pytest_asyncio
pytest_mock
fastapi_mail
uvicorn
