python_dotenv
stackprinter
aiosqlite
sqlalchemy
asyncpg
psycopg2-binary
alembic
bcrypt
pydantic[email]
fastapi_jwt_auth
fastapi_pagination
httpx
aiohttp[speedups]
aiodns
orjson
redis
celery
pytest
pytest_asyncio
pytest_mock
fastapi_mail
uvicorn
sqlalchemy_utils
babel
coverage